/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
        /* ---font size--- */
            --FontSize36: 36px;
            --FontSize30: 30px;
            --FontSize24: 24px;
            --FontSize20: 20px;
            --FontSize18: 18px;
            --FontSize16: 16px;
            --FontSize14: 14px;
            --FontSize13: 13px;
            --FontSize12: 12px;
}
.body-down {
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}

.hero-section-down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65vh;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section .hero {
    max-width: 50%;
    color: #fff;
}

.hero-down h2 {
    font-size: var(--FontSize30);
    margin-bottom: 20px;
    color: black;
}

.hero-down p {
    font-size:var(--FontSize14);
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    
}

.hero-section-down .img-down img {
    width: 417px;
}

.hero-section-down .buttons {
    margin-top: 40px;
}

.hero-section-down .buttons a {
    /* text-decoration: none; */
    /* color: #fff; */
    /* padding: 12px 24px; */
    /* border-radius: 0.375rem; */
    /* font-weight: 600; */
    /* transition: 0.2s ease; */
    /* display: inline-block; */
}

.hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
}

.buttons .ios-down {
    /* background-color: #47b2e4; */
    width: 100px;
}

 .buttons .android-down {
width: 100px;
}




@media screen and (max-width: 1023px) {
    .hero-section .hero {
        max-width: 100%;
        text-align: center;
    }

    .img-down img {
        display: none;
    }
}